@import './animations';

.search{
    transition: 1s;
    background:rgb(141, 141, 141) url("../images/charles-deluvio-PqsImnjuElM-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    object-fit: contain;
    width: 100vw;
    height: 50vh;
    @include flexCenter(space-evenly, column);
    .fa-bars, .fa-times{
        color: white;
        transition: 0.7s;
        transform: scale(1.5);
    }
    .fa-bars:hover, .fa-times:hover{
        cursor: pointer;
        transform: scale(1.7);
        transition: 0.7s;
    }   
}

.search-box{ 
    input{
        margin-top: 5px;
        width: 60vw;
        height: 3rem;
        border: none;
        border-radius: 1rem 0 0 1rem;
        padding: 0 2rem;
        outline: none;
    }
    button{
        margin-left: -5px;
        width: fit-content;
        height: 3rem;
        box-sizing: content-box;
        padding: 0rem 1rem;
        background-color: white;
        border: none;
        border-radius:0 1rem 1rem 0;
    }
}

.categories{
    width: 50vw;
    @include flexCenter(space-evenly, row);
    
}

button{
    width: fit-content;
    box-sizing: content-box;
    padding: 0.2rem 1rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
}

.tags-icon{
    width: fit-content;
    height: 5rem;
    @include flexCenter(center, row);
    margin: 1rem 0 0 1rem;
    z-index: 11;
    position: absolute;
    top: $headerHeight;
    left: 0;
    color: white;
    *{
        padding: 0.5rem;
    }
    p{
        margin: 0;
    }
}

.all-tags-container{
    position: absolute;
    top: $headerHeight;
    left: 0;
    background:rgb(177, 177, 177) url("../images/tagbackfround.jpg") no-repeat center;
    background-size:cover;
    background-blend-mode: multiply;
    height: 50vh;
}

.all-tags{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



.hideTags{
   margin-left: -100vw;
   visibility: hidden;
   transition: 1s;
}

.showTags{
    margin-left:0;
   visibility: visible;
    transition: 1s;
}

.hide{
    display: none;
}

.show{
    display: block;
}
