*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import './functions';
@import './animations';
@import './variables';
@import './reponsiveness';
@import './search';

body{
    width: $fullViewPort;
    background-color: aqua;
}

//Header

header{
    @include flexCenter(center, row);
    z-index: 10;
    width: $fullViewPort;
    height: $headerHeight;
    position: fixed;
    background-color: rgb(236, 189, 87);
    color: whitesmoke;
}

.filler-header{
    width: $fullViewPort;
    height: $headerHeight;
}

//Search



.items-grid{
    width: 100vw;
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns:auto auto auto auto;
    grid-gap: 3rem;
    margin-top: 4rem;
}

.item{
    background-color: rgb(243, 200, 106);
    transition: 0.6s;
    @include flexCenter(space-evenly, row);
    width: 20vw;
    height: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    h1{
        font-size: 1.5rem;
    }
    .vegNonVegIcon{
        width: 25px;
    }
}
.item:hover{
    cursor: pointer;
    background-color: rgb(245, 173, 17);
    transform: scale(1.15);
    transition: 0.5s;
}

img{
    border-radius: 50%;
    width: 50%;
}