* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes fadeOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media screen and (max-width: 1000px) {
  .items-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto !important;
        grid-template-columns: auto auto !important;
  }
  .item {
    width: 45vw !important;
    height: 25vh !important;
  }
}

@media screen and (max-width: 600px) {
  .items-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
  }
  .item {
    width: 80vw !important;
    height: 20vh !important;
  }
  .item img {
    width: auto;
    height: 100%;
  }
  .item:hover {
    -webkit-transform: scale(100%) !important;
            transform: scale(100%) !important;
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.search {
  -webkit-transition: 1s;
  transition: 1s;
  background: #8d8d8d url("../images/charles-deluvio-PqsImnjuElM-unsplash.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .fa-bars, .search .fa-times {
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.search .fa-bars:hover, .search .fa-times:hover {
  cursor: pointer;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.search-box input {
  margin-top: 5px;
  width: 60vw;
  height: 3rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  padding: 0 2rem;
  outline: none;
}

.search-box button {
  margin-left: -5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0rem 1rem;
  background-color: white;
  border: none;
  border-radius: 0 1rem 1rem 0;
}

.categories {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.2rem 1rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
}

.tags-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 9;
  margin: 1rem 0 0 1rem;
  position: absolute;
  top: 1rem;
  left: 0;
  color: white;
}

.tags-icon * {
  padding: 0.5rem;
}

.tags-icon p {
  margin: 0;
}

.all-tags-container {
  position: absolute;
  left: 0;
  top: 0;
  background: #b1b1b1 url("../images/tagbackfround.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  height: 60vh;
}

.all-tags {
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hideTags {
  margin-left: -100vw;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.showTags {
  margin-left: 0;
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
}

.hide {
  display: none;
}

.show {
  display: block;
}

body {
  width: 100vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  position: fixed;
  background-color: #ecbd57;
  color: whitesmoke;
}

.filler-header {
  width: 100vw;
  height: 10vh;
}

.items-grid {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 3rem;
  margin-top: 4rem;
}

.item {
  background-color: #f3c86a;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.item h1 {
  font-size: 1.5rem;
}

.item .vegNonVegIcon {
  width: 25px;
}

.item:hover {
  cursor: pointer;
  background-color: #f5ad11;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

img {
  border-radius: 50%;
  width: 50%;
}
/*# sourceMappingURL=styles.css.map */